<div class="projects-container">
  <%# <nav>
    <div class="navbar">
      <div class="nav-container">
        <input class="checkbox" type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <div class="menu-items">
          <%# <%= link_to "Home", root_path(anchor: "home")%>
          <%# <%= link_to "About", root_path(anchor: "about")%>
          <%# <%= link_to "Skills", root_path(anchor: "skills")%>
          <%# <%= link_to "Contact", root_path(anchor: "contact") %>
        <%# </div>
      </div>
    </div>
  </nav>  %>
  <%= link_to raw("<i class='fa-sharp fa-solid fa-arrow-left'></i>"), root_path, class:"arrow-return" %>
  <div class="projects-content">
    <div class="projects-header">
      My Portfolio
    </div>


    <div class="projects">

        <div data-controller="project-card-hover">
          <a href="https://covert-one.vercel.app/" class="project-card" style="background-image:url(<%= image_path 'projects/COVERT/COVERT-background.png' %>"
           data-action="mouseover->project-card-hover#displayInfo mouseout->project-card-hover#hideInfo" target="_blank">
            <div class="project-card-info remove-info" data-project-card-hover-target="cardInfo">
              <div class="project-card-title">
                COVERT
              </div>
              <div class="project-card-description">
                Front-End Web Application Development
              </div>
            </div>
          </a>
        </div>

        <div data-controller="project-card-hover">
          <a href="https://grantchichester.me/" class="project-card" style="background-image:url(<%= image_path 'projects/Grant/Grant-background.png' %>"
           data-action="mouseover->project-card-hover#displayInfo mouseout->project-card-hover#hideInfo" target="_blank">
            <div class="project-card-info remove-info" data-project-card-hover-target="cardInfo">
              <div class="project-card-title">
                Grant Chichester
              </div>
              <div class="project-card-description">
                Logo Design
              </div>
            </div>
          </a>
        </div>

        <div data-controller="project-card-hover">
          <a href="https://www.fan-find.com/" class="project-card" style="background-image:url(<%= image_path 'projects/FanFind/FanFind-background.png' %>"
           data-action="mouseover->project-card-hover#displayInfo mouseout->project-card-hover#hideInfo" target="_blank">
            <div class="project-card-info remove-info" data-project-card-hover-target="cardInfo">
              <div class="project-card-title">
                Fan Find
              </div>
              <div class="project-card-description">
                Full-Stack Mobile Web Application Development
              </div>
            </div>
          </a>
        </div>


    </div>


  </div>
</div>
